<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.found.mapper.UserMapper">

    <insert id="replaceUserInfo" parameterType="com.service.found.entity.UserEntity">
        replace into f_user VALUES (#{userEntity.name},#{userEntity.image},#{userEntity.openId})
    </insert>
    <select id="getUserInfo" resultType="com.service.found.entity.UserEntity">
        SELECT name,image from f_user WHERE openid = #{openid}
    </select>
</mapper>